# Файлы окружения
.env

# Локальные файлы окружения (если такие есть)
.env.local

# Файлы, содержащие секреты (если они у вас отдельно)
secrets.txt

# Другие файлы, которые могут содержать конфиденциальную информацию
config.ini
*.config